&:root {
  --remax-red: #e11b2c;
  --remax-blue: #0b3696;
}

.span-red:hover {
  color: var(--remax-red);
}
/* body {
  background-color: white;
  color: var(--remax-blue);
}
.span-red {
  color: var(--remax-red);
} */

/* h2,
h3,
h4,
h5,
h6,
paragraph {
  text-wrap: balance;
} */

.hero-words {
  height: 4rem;
  overflow: hidden;
  line-height: 1em;
}

.is-hero-words {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-size: 1em;
  text-align: center;
  color: var(--remax-red);
}

.services_link-inner {
  overflow: hidden;
}

.services_p {
  opacity: 0;
  transform: translate(20px, 30px);
  transition: all 0.3s ease-in-out;
}

.services_title {
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
  font-size: 3rem;
}

.services_link-inner:hover .services_p {
  transform: translate(0, 0);
  opacity: 1;
}

.services_link-inner:hover .services_title {
  transform: scale(1.1);
  transform: translateX(10%);
}

.teams-card_image {
  aspect-ratio: 3/5;
  /* height: 390px; */
}

.stats_block {
  grid-template-rows: 1fr 0fr;
  transition: grid-template-rows 0.3s ease-in-out;
}

.stats_block:hover {
  background-color: var(--remax-blue);
  grid-template-rows: 1fr 0.5fr;
}

.stats_block .stats_block-bottom {
  opacity: 0;
}

.stats_block:hover .stats_block-bottom {
  opacity: 1;
}

.button,
.listing-slider_arrow {
  transition: transform 0.25s ease-in-out;
}

.button:hover,
.listing-slider_arrow:hover {
  transform: scale(1.1);
}

.listing_image {
  transition: all 0.7s ease-in-out;
}
.listing_item:hover .listing_image {
  width: 110%;
  height: 110%;
}

.listing_item_meta {
  transition: opacity 0.5s ease-in-out;
}

.listing_item:hover .listing_item_meta {
  opacity: 0;
}
.listing_item_image-overlay {
  transition: opacity 0.3s ease-in-out;
}

.listing_item:hover .listing_item_image-overlay {
  opacity: 0;
}

.swiper-container.hero-words {
  display: inline-block;
  font-size: 3.5rem;
  transform: translateY(1rem);
}

.swiper-wrapper.is-hero-words-wrapper > div {
  text-align: left;
}
